.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 300;
    font-size: 18px;
}

.list1, 
.list2 { font-weight: bold;
}

.list1 {
    color: aqua;
    background-color: red;
}

.list2 {
    color: red;
    background-color: aqua;
}

.imgformat {
    background-color: tomato;
}
.imgsize {
    height: auto;
    width: 300px;

}
